.main{
    height: 100%;
}

*{
    font-family: 'Merriweather', serif;
}


.header{
    display: flex;
    width: 100%;
    background-color: #2b2e4a;
    height: 70px;
    line-height: 70px;
    position: relative;
    z-index: 4;
}

.searchicon{
    display: inline-block;
    padding: 0 30px;
}

.headerlogo img:hover{
    cursor: pointer;
}

.headericon{
    text-align: center;
    padding: 0 30px;
    color: white;
    font-size: 25px;
    display: inline-block;
    transition: 0.3s;
}

.headericon i{
    cursor: pointer;
}
.headerleft{
    flex: 1 1 ;
}

.headerright{
    flex: 2 1 ;
    text-align: right;
}

.headericon:hover{
    color:#e8454a;
}
.headerlogo img{
    width: 100%;
}

.headerlogo{
    width: 40px;
    height: 40px;
    padding: 15px 30px;
}
















.content{
    min-height: calc(100vh - 70px);
    background-color: #262837;
    width: 100%;
    
}

.videoplayer{
    text-align: center;
    padding-top: 70px;
}

.videoplayer video{
    width: 100%;
}

.c-line{
    display: flex;
    width: 90%;
    height: 90%;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 70px;
    color: #000;
}

.c-banner{
    flex: 1 2;
  
}

.c-banner img{
    width: 100%;
    height: 100%;

}
.c-about{
    flex: 2 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.c-name{
    background-color: #2b2e4a;
    flex: 1 2 75px;
    min-height: 75px;
    max-height: 75px;
    padding: 10px 0;
    color: #fff;
}

.c-description{
    padding: 10px 0;
    flex: 2 2;
}

.c-description p{
    text-align: justify;
    padding: 0 15px;
}

.c-description a {
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}

.c-description span{
    color: #e8454a;
}

.comments{
    width: 100%;
    padding-bottom: 70px;
    text-align: center;
}

.comments textarea{
    width: 100%;
    height: 100px;
    resize: none;
    transition: 0.3s;
    padding: 0;
    border: none;
}

.comments textarea:focus{
    height: 200px;
}

.add-btn{
    width: 100%;
    background-color: #2b2e4a;
    margin: auto;
    height: 70px;
}

.add-btn .btn{
    float: right;
    margin: 5px 20px;
    width: 150px;
    height: 60px;
    background-color: #e8454a;
    color: #fff;
    border: none;
    outline: none;
}



.triangle{
    position: absolute;
    bottom: 0px;
    border-bottom:20px solid #fff;
    border-left:20px solid transparent;
    border-right:20px solid transparent;
    margin-left: 20px;
}


.content button.btn:active{
    border-bottom: none;
    margin-top: 3px;
}

.content button.btn:hover{
    outline: none;
    color: #2b2e4a;
}



.commentblock{
    width: 100%;
    padding-bottom: 70px;
    display: flex;

}

.com-av{
    display: inline-block;
    flex: 0.1 0.5 100px;
    min-width: 100px;
    max-width: 100px;
}

.com-av img {
    width: 100%;
    height: 100%;
}

.comment{
    flex: 2 1;
    display: flex;
    flex-direction: column;
}

.com-name{
    text-align: center;
    background-color: #2b2e4a;
    flex: 1 1;
    color: #fff;
    padding: 10px 0;
}

.com-name h2{
    margin: 0;
}

.comm-text{
    background-color: #fff;
    color:#000;
    font-size: 17px;
    flex: 2 1;
    padding: 0 20px;
}

.com-number{
    float: left;
    padding: 0 10px;

}

.com-del{
    float: right;
    padding: 0 10px;
}

.com-del:hover{
    color: #e8454a;
}























.footer{
    display: flex;
    width: 100%;
    background-color: #2b2e4a;
    height: 70px;
    line-height: 70px;
    position: relative;
    z-index: 4;
}

.footerleft{
    flex: 2 1 ;
}

.footerright{
    flex: 1 2 ;
    text-align: right;
}

.footericon{
    text-align: center;
    padding: 0 30px;
    color: white;
    font-size: 25px;
    display: inline-block;
    transition: 0.3s;
}
.footericon:hover{
    color:#e8454a;
}

a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.footericon a:hover{
    color:#e8454a;
}

.triangle-menu{
    border-bottom: 20px solid #fff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    top:50px;
    left: 16px;
    transition: 0.3s;
}

.menu{
    position: absolute;
    background-color: #fff;
    padding: 10px 30px;
    top:70px;
    transition: 0.3s;
    
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li{
    margin: 10px 0;
}

.menu li a{
    color:black; 
    font-family: 'Merriweather', serif;
    transition: 0.3s;
}

.menu li a:hover{
    color:#e8454a;
    text-decoration: underline;
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 3;
}

.modal { 
    position: absolute; 
    top:50%; 
    left: 50%; 
    display: inline-block; 
    background: #fff; 
    color:#2b2e4a ; 
    text-align: left; 
    width: 500px;
    height: 425px;
    margin-left: -250px;
    margin-top: -212.5px; 
    z-index: 3;
}

.modal-btn{
    background-color: #bbb;
    border: none;
    width: 50%;
    float: left;
    height: 60px;
    color: #fff;
    cursor: pointer;
}

.login h3{
    margin: 0;
    padding: 20px;
    clear: both;
}

.login-input{
    height: 30px;
    color: #bbb;
    width: 80%;
    transition: 0.3;
    border: none;
    border-bottom: 3px solid #e8454a;
    padding: 5px 10px 15px 10px;
    margin-bottom: 30px;
    margin-left: 8%;
    outline: none;
    font-size: 30px;
}

.col{
    width: 50%;
    float:left;
    text-align: center;
    line-height: 50px;
}

.btn-sign{
    height: 50px;
    background-color: #e8454a;
    width: 90%;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-bottom: 3px solid #c1454a;
}

.modal a{
    text-decoration: none;
    color: #e8454a;
}

.btn-sign:active{
    border-bottom: none;
    margin-top: 3px;
}

.btn-sign:hover{
    outline: none;
    color: #2b2e4a;
}

.modal-content .modal-btn:nth-child(1){
    background-color: #fff;
    color:#c1454a;
}

.hidden{
    display: none;
}

.content{
    position: relative;
    z-index: 3;
}

@media (min-width:0px) and (max-width:1024px){
    .c-line{
        flex-direction: column;
    }

    .c-name{
        padding-bottom: 45px;
    }

}